body
{
    margin: 0px;
    background-color: #F2F2F2;
}

#header
{
    background-color: #254E58;
    height: 100px;
}

#header #logo
{
    float: left;
    margin-left: 30px;
    margin-top: 3px;
}

#header #logo a
{
    text-decoration: none;
    color: white;
    font-size: 80px;
    font-family: 'freestyle script';
}

#header #login
{
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}

#header #login a
{
	text-decoration: none;
    font-family: 'helvetica';
    color: white;
	font-size: 30px;
}

#main
{
	padding: 20px 40px;
    padding-right: 0px;
}


#main form
{
	padding: 25px 0px;
	font-size: 25px;
}

#main form label
{
	color: #000;
}

#main form input
{
	margin: 0px;
	font-size: 20px;
}

#main form input[type="checkbox"]
{
  width: 15px;
  height: 15px;
}

#main form .error
{
	color: red;
	font-size: 20px;
}

#main form .button
{
	font-size: 22px;
}

.clear
{
	clear: both;
}

