body
{
	margin: 0px;
	background-color: #F2F2F2;
	font-family: verdana;
}

/* Header */
#header
{
	background-color: #254E58;
	height: 100px;
}

#header #logo
{
	float: left;
	margin-left: 70px;
	margin-top: 3px;
}

#header #logo a
{
	text-decoration: none;
	color: white;
	font-size: 80px;
	font-family: 'freestyle script';
}

#header #login
{
	float: right;
	margin-right: 80px;
	margin-top: 36px;
}

#login {
	position: relative;
	display: inline-block;
}

#login a
{
	color: white;
	text-decoration: none;
	font-size: 22px;
	font-weight: bold;
}

#login:hover #menu {display: block;}

#login:hover {cursor: pointer;}

#login #menu
{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

#login #menu a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-weight: normal;
	font-size: 14px;
}

#login #menu a:hover {background-color: #ddd;} 

#login #menu #username 
{
	color: #254E58;
	font-weight: bold;
	padding: 12px 16px;
	display: block;
	font-size: 14px;
}

#login #menu #username:hover {cursor: default;}

/* Main */
#main
{
	padding: 40px 40px;
	background: white;
	margin: 20px;
	border-radius: 10px;
	font-family: verdana;

}


#main form h3
{
	font-size: 26px;
	font-weight: normal;
}

#main form input
{
	font-size: 18px;
}

#main form a
{
	font-size: 18px;
	display: block;
	margin-top: 24px;	
}

#main form #button:hover {
	cursor: pointer;
}

#main form .error {
	color: red;
}


.clear
{
	clear: both;
}
